<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css"> <!-- Use absolute path for the stylesheet -->
    <link rel="stylesheet" href="/css/footer.css"> <!-- Use absolute path for the stylesheet -->
    <link rel="stylesheet" href="/css/slider.css"> <!-- Use absolute path for the stylesheet -->
    <link rel="stylesheet" href="/css/verticalSliderStyleSheet.css"> <!-- Use absolute path for the stylesheet -->
    <link rel="stylesheet" href="/css/newMovie_stylesheet.css"> <!-- Use absolute path for the stylesheet -->
    <link rel="stylesheet" href="/css/mini_Slider_stylesheet.css"> <!-- Use absolute path for the stylesheet -->
    <link rel="stylesheet" href="/css/FeaturedFilms.css"> <!-- Use absolute path for the stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Movie Recommendation System</title>

</head>

<body>
    <%- include('partials/header.ejs') %>

        <!-- ========== HEADER HTML Code END ========== -->
        <main class="main">
            <!-- ========== slider Section Start ========== -->
            <section id="main-slider" class="slider-section">
                <div id="slider-container" class="slider">
                    <!-- Slide 1 -->
                    <div class="slide background-1">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Black Panther</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">7.3 IMDb</span>
                                    <span class="age-rating">16+</span>
                                    <span class="duration">2h 21min</span>
                                </div>
                                <p class="description">
                                    T'Challa, the King of Wakanda, rises to the throne in the isolated, technologically
                                    advanced African nation, but
                                    his claim is challenged by a vengeful outsider.
                                </p>
                                <div class="info">
                                    <span>Starring: Chadwick Boseman, Michael B. Jordan, Lupita Nyong'o</span>
                                    <span>Genre: Action, Adventure, Sci-Fi</span>
                                    <span>Tags: Action, Marvel, Superhero</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Black%20Panther" class="btn details-btn">More Details</a>

                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- Slide 2 -->
                    <div class="slide background-2">
                        <div class="content-wrapper">
                            <!-- Slide 2 content here -->
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Deadpool</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">8.0 IMDb</span>
                                    <span class="age-rating">18+</span>
                                    <span class="duration">1h 48min</span>
                                </div>
                                <p class="description">
                                    Wade Wilson, a former Special Forces operative turned mercenary, adopts the alter
                                    ego
                                    Deadpool after
                                    undergoing a rogue experiment that leaves him with accelerated healing powers.
                                </p>
                                <div class="info">
                                    <span>Genre: Action, Comedy, Adventure</span>
                                    <span>Tags: Marvel, Superhero, Anti-hero</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Deadpool" class="btn details-btn">More Details</a>


                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="slide background-3">
                        <div class="content-wrapper">
                            <!-- Slide 3 content here -->
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Peaky Blinders</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">8.8 IMDb</span>
                                    <span class="age-rating">18+</span>
                                    <span class="duration">6 Seasons</span>
                                </div>
                                <p class="description">
                                    A gangster family epic set in 1900s England, centering on a gang who sew razor
                                    blades in
                                    the peaks of their
                                    caps, and their fierce boss Tommy Shelby.
                                </p>
                                <div class="info">
                                    <span>Starring: Cillian Murphy, Paul Anderson, Helen McCrory</span>
                                    <span>Genre: Crime, Drama</span>
                                    <span>Tags: British, Gangster, Historical</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Peaky%20Blinders" class="btn details-btn">More Details</a>

                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- Slide 4 -->
                    <div class="slide background-4">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Transformers One</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">8.1 IMDb</span>
                                    <span class="age-rating">18+</span>
                                    <span class="duration">1h 30min</span>
                                </div>
                                <p class="description">
                                    The untold origin story of Optimus Prime and Megatron, better known as sworn
                                    enemies,
                                    but once were
                                    friends bonded like brothers who changed the fate of Cybertron forever.
                                </p>
                                <div class="info">
                                    <span>Genre: Animation, Science Fiction, Adventure, Family, Action</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Transformers%20One" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 5 -->
                    <div class="slide background-5">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Terrifier 3</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">7.3 IMDb</span>
                                    <span class="age-rating">18+</span>
                                    <span class="duration">1h 55min</span>
                                </div>
                                <p class="description">
                                    Five years after surviving Art the Clown's Halloween massacre, Sienna and Jonathan
                                    are
                                    still struggling
                                    to rebuild their shattered lives. As the holiday season approaches, they try to
                                    embrace
                                    the Christmas
                                    spirit and leave the horrors of the past behind. But just when they think they're
                                    safe,
                                    Art returns,
                                    determined to turn their holiday cheer into a new nightmare. The festive season
                                    quickly
                                    unravels as Art
                                    unleashes his twisted brand of terror, proving that no holiday is safe.
                                </p>
                                <div class="info">
                                    <span>Genre: Horror, Thriller</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Terrifier%203" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 6 -->
                    <div class="slide background-6">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Alien: Romulus</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">7.3 IMDb</span>
                                    <span class="age-rating">18+</span>
                                    <span class="duration">2h 30min</span>
                                </div>
                                <p class="description">
                                    While scavenging the deep ends of a derelict space station, a group of young space
                                    colonizers come face
                                    to face with the most terrifying life form in the universe.
                                </p>
                                <div class="info">
                                    <span>Genre: Science Fiction, Horror</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Alien:%20Romulus" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 7 -->
                    <div class="slide background-7">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Venom: Let There Be Carnage</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">6.8 IMDb</span>
                                    <span class="age-rating">18+</span>
                                    <span class="duration">1h 37min</span>
                                </div>
                                <p class="description">
                                    After finding a host body in investigative reporter Eddie Brock, the alien symbiote
                                    must
                                    face a new
                                    enemy, Carnage, the alter ego of serial killer Cletus Kasady.
                                </p>
                                <div class="info">
                                    <span>Genre: Science Fiction, Action, Adventure</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Venom:%20Let%20There%20Be%20Carnage" class="btn details-btn">More
                                        Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 8 -->
                    <div class="slide background-8">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Heavenly Touch</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">6.0 IMDb</span>
                                    <span class="age-rating">18+/<span>
                                        <span class="duration">1h 37min</span> <!-- Added estimated duration -->
                                </div>
                                <p class="description">
                                    Jonard is having trouble making ends meet. His mother is suffering from depression,
                                    and
                                    he and his
                                    sister are forced to quit school in order to take care of her. One day, Jonard meets
                                    his
                                    friend Rodel,
                                    and Rodel introduces him to the world of massage parlors. Rodel teaches him massage
                                    and
                                    brings him to
                                    Heavenly Touch, a syndicate-run massage parlor that mostly caters to homosexuals.
                                </p>
                                <div class="info">
                                    <span>Genre: Drama, Romance</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Heavenly%20Touch" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 9 -->
                    <div class="slide background-9">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Beetlejuice Beetlejuice</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">7.2 IMDb</span>
                                    <span class="age-rating">16+</span>
                                    <span class="duration">N/A</span> <!-- Added duration -->
                                </div>
                                <p class="description">
                                    After a family tragedy, three generations of the Deetz family return home to Winter
                                    River. Still haunted
                                    by Betelgeuse, Lydia's life is turned upside down when her teenage daughter, Astrid,
                                    accidentally opens
                                    the portal to the Afterlife.
                                </p>
                                <div class="info">
                                    <span>Genre: Comedy, Fantasy, Horror</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Beetlejuice%20Beetlejuice" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 10 -->
                    <div class="slide background-10">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Schindler's List</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">8.6 IMDb</span>
                                    <span class="age-rating">18+</span>
                                    <span class="duration">3h 15min</span> <!-- Added estimated duration -->
                                </div>
                                <p class="description">
                                    The true story of how businessman Oskar Schindler saved over a thousand Jewish lives
                                    from the Nazis while they worked as slaves in his factory during World War II.
                                </p>
                                <div class="info">
                                    <span>Genre: Drama, History, War</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Schindler's%20List" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 11 -->
                    <div class="slide background-11">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">12 Angry Men</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">8.5 IMDb</span>
                                    <span class="age-rating">18+</span>
                                    <span class="duration">1h 36min</span> <!-- Added estimated duration -->
                                </div>
                                <p class="description">
                                    The defense and the prosecution have rested and the jury is filing into the jury
                                    room to decide if a young Spanish-American is guilty or innocent of murdering his
                                    father. What begins as an open and shut case soon becomes a mini-drama of each of
                                    the jurors' prejudices and preconceptions about the trial, the accused, and each
                                    other.
                                </p>
                                <div class="info">
                                    <span>Genre: Drama</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/12%20Angry%20Men" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 12 -->
                    <div class="slide background-12">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Spirited Away</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">8.5 IMDb</span>
                                    <span class="age-rating">18+</span>
                                        <span class="duration">2h 5min</span> <!-- Added estimated duration -->
                                </div>
                                <p class="description">
                                    A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her
                                    parents undergo a
                                    mysterious transformation, she must call upon the courage she never knew she had to
                                    free
                                    her family.
                                </p>
                                <div class="info">
                                    <span>Genre: Animation, Family, Fantasy</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Spirited%20Away" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 13 -->
                    <div class="slide background-13">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">The Silent Hour</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">6.4 IMDb</span>
                                    <span class="age-rating">18+</span>
                                    <span class="duration">1h 30min</span> <!-- Estimated duration added -->
                                </div>
                                <p class="description">
                                    While working a case as an interpreter, a hearing-impaired police detective must
                                    confront a group of
                                    criminals trying to eliminate a deaf murder witness in her apartment building.
                                </p>
                                <div class="info">
                                    <span>Genre: Crime, Thriller, Action</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/The%20Silent%20Hour" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 14 -->
                    <div class="slide background-14">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Smile 2</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">6.9 IMDb</span>
                                    <span class="age-rating">18+</span>
                                    <span class="duration">2h</span> <!-- Estimated duration added -->
                                </div>
                                <p class="description">
                                    About to embark on a new world tour, global pop sensation Skye Riley begins
                                    experiencing
                                    increasingly
                                    terrifying and inexplicable events. Overwhelmed by the escalating horrors and the
                                    pressures of fame,
                                    Skye is forced to face her dark past to regain control of her life before it spirals
                                    out
                                    of control.
                                </p>
                                <div class="info">
                                    <span>Genre: Horror, Mystery</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/=Smile%202" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 15 -->
                    <div class="slide background-15">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Uprising</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">7.2 IMDb</span>
                                    <span class="age-rating">19+</span>
                                    <span class="duration">2h 10min</span> <!-- Added estimated duration -->
                                </div>
                                <p class="description">
                                    In the Joseon Dynasty, two friends who grew up together — one the master and one the
                                    servant — reunite
                                    post-war as enemies on opposing sides.
                                </p>
                                <div class="info">
                                    <span>Genre: Action, Drama, History</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Uprising" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 16 -->
                    <div class="slide background-16">
                        <div class="content-wrapper">
                            <div class="content">
                                <a href="#" class="logo-link">
                                    <img src="pictures/MRS logo.png" alt="Logo" class="logo" />
                                </a>
                                <h1 class="title">Outside</h1>
                                <div class="details">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="rating-text">5.6 IMDb</span>
                                    <span class="age-rating">16+</span>
                                    <span class="duration">1h 45min</span> <!-- Added estimated duration -->
                                </div>
                                <p class="description">
                                    A family retreats to an isolated farm during a zombie outbreak, but years of painful
                                    secrets take a toll
                                    as they navigate their desolate world.
                                </p>
                                <div class="info">
                                    <span>Genre: Horror, Thriller</span>
                                </div>
                                <div class="buttons">
                                    <a href="SampleTrailer.mp4" class="btn play-btn"><i class="fa fa-play"></i>Play
                                        Now</a>
                                    <a href="/movie/Outside" class="btn details-btn">More Details</a>
                                </div>
                            </div>
                            <div class="video-preview">
                                <a href="SampleTrailer.mp4" class="play-button">
                                    <img src="pictures/play.png" alt="Play" />
                                    <span>Watch Trailer</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="slick-nav prev-arrow">◄</div>
                    <div class="slick-nav next-arrow">►</div>
                </div>
            </section>

            <div class="custom-container">
                <div class="custom-slider-wrapper">
                    <span class="top-movies-label">Top Rated Movies</span>
                    <button id="custom-prev-slide"
                        class="custom-slide-button material-symbols-rounded">chevron_left</button>
                    <ul class="custom-image-list">
                
                        <li class="custom-image-item"> <img
                                src="https://image.tmdb.org/t/p/w500/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg"
                                alt="The Shawshank Redemption" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Shawshank Redemption</h6> 
                                <span class="rating">8.707 IMDb</span> 
                                <span class="duration">2h 22min</span> 
                                <i class="fa fa-heart wishlist-icon"></i> 
                                <a href="/movie/The%20Shawshank%20Redemption" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/3bhkrj58Vtu7enYsRolD1fZdja1.jpg"
                                alt="The Godfather" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Godfather</h6>
                                <span class="rating">8.7 IMDb</span>
                                <span class="duration">2h 55min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/The%20Godfather" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/wTnV3PCVW5O92JMrFvvrRcV39RU.jpg"
                                alt="The Wild Robot" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Wild Robot</h6>
                                <span class="rating">8.6 IMDb</span>
                                <span class="duration">2h 10min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/The%20Wild%20Robot" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg"
                                alt="The Godfather Part II" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Godfather Part II</h6>
                                <span class="rating">8.6 IMDb</span>
                                <span class="duration">1h 58min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/The%20Godfather%20Part%20II" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg"
                                alt="Schindler's List" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Schindler's List</h6>
                                <span class="rating">8.6 IMDb</span>
                                <span class="duration">3h 01min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Schindler's%20List" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg"
                                alt="12 Angry Men" />
                            <div class="details-overlay">
                                <h6 class="movie-title">12 Angry Men</h6>
                                <span class="rating">8.545 IMDb</span>
                                <span class="duration">2h 14min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/12%20Angry%20Men" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg"
                                alt="Spirited Away" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Spirited Away</h6>
                                <span class="rating">8.538 IMDb</span>
                                <span class="duration">4h 05min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Spirited%20Away" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/lfRkUr7DYdHldAqi3PwdQGBRBPM.jpg"
                                alt="Dilwale Dulhania Le Jayenge" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Dilwale Dulhania Le Jayenge</h6>
                                <span class="rating">8.5 IMDb</span>
                                <span class="duration">1h 59min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Dilwale%20Dulhania%20Le%20Jayenge" class="btn details-btn">More
                                    Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/qJ2tW6WMUDux911r6m7haRef0WH.jpg"
                                alt="The Dark Knight" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Dark Knight</h6>
                                <span class="rating">8.516 IMDb</span>
                                <span class="duration">2h 32min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/The%20Dark%20Knight" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg"
                                alt="The Green Mile" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Green Mile</h6>
                                <span class="rating">8.507 IMDb</span>
                                <span class="duration">3h 9min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/The%20Green%20Mile" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg" alt="Parasite" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Parasite</h6>
                                <span class="rating">8.506 IMDb</span>
                                <span class="duration">2h 12min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Parasite" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg"
                                alt="Pulp Fiction" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Pulp Fiction</h6>
                                <span class="rating">8.488 IMDb</span>
                                <span class="duration">N/A</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Pulp%20Fiction" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/vfJFJPepRKapMd5G2ro7klIRysq.jpg"
                                alt="Your Name." />
                            <div class="details-overlay">
                                <h6 class="movie-title">Your Name</h6>
                                <span class="rating">8.451 IMDb</span>
                                <span class="duration">2h 19min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Your%20Name" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg"
                                alt="The Lord of the Rings: The Return of the King" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Lord of the Rings...</h6>
                                <span class="rating">8.436 IMDb</span>
                                <span class="duration">3h 20min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/The%20Lord%20of%20the%20Rings:%20The%20Return%20of%20the%20King"
                                    class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg"
                                alt="Forrest Gump" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Forrest Gump</h6>
                                <span class="rating">8.442 IMDb</span>
                                <span class="duration">2h 22min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Forrest%20Gump" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                
                        <li class="custom-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg"
                                alt="The Good, the Bad and the Ugly" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Lord of the Rings 2...</h6>
                                <span class="rating">8.421 IMDb</span>
                                <span class="duration">2h 58min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/The%20Lord%20of%20the%20Rings:%20The%20Fellowship%20of%20the%20Ring"
                                    class="btn details-btn">More Details</a>
                            </div>
                        </li>
                    </ul>
                    <button id="custom-next-slide"
                        class="custom-slide-button material-symbols-rounded">chevron_right</button>
                </div>
                </div>

            <div class="slider-container">
                <!-- Sidebar for movie list -->
                <aside class="slider-sidebar">
                    <h2>Movies</h2>
                    <div class="slider-movie-list">
                        <!-- Horror/Drama Movies -->
                        <div class="slider-movie-item" onclick="displayMovie('Never Let Go')">
                            <img src="https://image.tmdb.org/t/p/w500/3EpZ2ksjijmdr8BhISP03PYzNFW.jpg"
                                alt="Never Let Go Poster">
                            <div class="slider-movie-info">
                                <span>Never Let Go</span>
                                <span>Horror, Drama</span>
                            </div>
                        </div>

                        <div class="slider-movie-item" onclick="displayMovie('Speak No Evil')">
                            <img src="https://image.tmdb.org/t/p/w500/fDtkrO2OAF8LKQTdzYmu1Y7lCLB.jpg"
                                alt="Speak No Evil Poster">
                            <div class="slider-movie-info">
                                <span>Speak No Evil</span>
                                <span>Horror, Thriller</span>
                            </div>
                        </div>

                        <div class="slider-movie-item" onclick="displayMovie('The Park Maniac')">
                            <img src="https://image.tmdb.org/t/p/w500/xUIaDutJAWyfWEyZRcqaNWcoR55.jpg"
                                alt="The Park Maniac Poster">
                            <div class="slider-movie-info">
                                <span>The Park Maniac</span>
                                <span>Drama, Crime, Thriller, Horror</span>
                            </div>
                        </div>

                        <!-- Comedy Movies -->
                        <div class="slider-movie-item" onclick="displayMovie('Deadpool & Wolverine')">
                            <img src="https://image.tmdb.org/t/p/w500/8cdWjvZQUExUUTzyp4t6EDMubfO.jpg"
                                alt="Deadpool & Wolverine Poster">
                            <div class="slider-movie-info">
                                <span>Deadpool & Wolverine</span>
                                <span>Action, Comedy, Sci-Fi</span>
                            </div>
                        </div>

                        <div class="slider-movie-item" onclick="displayMovie('Beetlejuice Beetlejuice')">
                            <img src="https://image.tmdb.org/t/p/w500/kKgQzkUCnQmeTPkyIwHly2t6ZFI.jpg"
                                alt="Beetlejuice Beetlejuice Poster">
                            <div class="slider-movie-info">
                                <span>Beetlejuice Beetlejuice</span>
                                <span>Comedy, Fantasy, Horror</span>
                            </div>
                        </div>

                        <div class="slider-movie-item" onclick="displayMovie('Inside Out 2')">
                            <img src="https://image.tmdb.org/t/p/w500/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg"
                                alt="Inside Out 2 Poster">
                            <div class="slider-movie-info">
                                <span>Inside Out 2</span>
                                <span>Animation, Family, Adventure, Comedy, Drama</span>
                            </div>
                        </div>

                        <div class="slider-movie-item" onclick="displayMovie('Despicable Me 4')">
                            <img src="https://image.tmdb.org/t/p/w500/wWba3TaojhK7NdycRhoQpsG0FaH.jpg"
                                alt="Despicable Me 4 Poster">
                            <div class="slider-movie-info">
                                <span>Despicable Me 4</span>
                                <span>Animation, Family, Comedy, Action</span>
                            </div>
                        </div>

                        <div class="slider-movie-item" onclick="displayMovie('Brothers')">
                            <img src="https://image.tmdb.org/t/p/w500/Akweo95FGyDpucYVT81h0SbX8Ky.jpg"
                                alt="Brothers Poster">
                            <div class="slider-movie-info">
                                <span>Brothers</span>
                                <span>Action, Comedy, Crime</span>
                            </div>
                        </div>

                        <div class="slider-movie-item" onclick="displayMovie('Bad Boys: Ride or Die')">
                            <img src="https://image.tmdb.org/t/p/w500/oGythE98MYleE6mZlGs5oBGkux1.jpg"
                                alt="Bad Boys: Ride or Die Poster">
                            <div class="slider-movie-info">
                                <span>Bad Boys: Ride or Die</span>
                                <span>Action, Comedy</span>
                            </div>
                        </div>

                        <div class="slider-movie-item" onclick="displayMovie('SpongeBob Squarepants: Kreepaway Kamp')">
                            <img src="https://image.tmdb.org/t/p/w500/blRsgsexoBqnjcEJkV8beKAVT6J.jpg"
                                alt="SpongeBob Squarepants: Kreepaway Kamp Poster">
                            <div class="slider-movie-info">
                                <span>SpongeBob Squarepants: Kreepaway Kamp</span>
                                <span>TV Movie, Family, Comedy, Horror, Animation</span>
                            </div>
                        </div>
                    </div>
                </aside>

                <!-- Main display area -->
                <main class="slider-main-display">
                    <img id="sliderDisplayImage" src="" alt="Movie Poster">
                    <div class="movie-details">
                        <h3 id="movieTitle"></h3>
                        <p id="movieOverview"></p>
                        <p><strong>Rating:</strong> <span id="movieRating"></span></p>
                        <p><strong>Release Date:</strong> <span id="movieReleaseDate"></span></p>
                        <p><strong>Genres:</strong> <span id="movieGenres"></span></p>
                        
                    </div>
                </main>

            </div>


            <div class="custom-container">
                <div class="new-slider-wrapper">
                    <span class="top-movies-label">New Movies</span>
                    <button id="new-prev-slide" class="new-slide-button material-symbols-rounded">chevron_left</button>
                    <ul class="new-image-list">
                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg"
                                alt="Pulp Fiction" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Pulp Fiction</h6>
                                <span class="rating">8.488 IMDb</span>
                                <span class="duration">2h 34min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Pulp%20Fiction" class="btn details-btn">More Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/191nKfP0ehp3uIvWqgPbFmI4lv9.jpg" alt="Se7en" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Se7en</h6>
                                <span class="rating">8.4 IMDb</span>
                                <span class="duration">2h 7min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Se7en" class="btn details-btn">More Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg"
                                alt="Forrest Gump" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Forrest Gump</h6>
                                <span class="rating">8.472 IMDb</span>
                                <span class="duration">2h 22min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Forrest%20Gump" class="btn details-btn">More Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/sNjL6SqErDBE8OUZlrDLkexfsCj.jpg" alt="Looper" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Looper</h6>
                                <span class="rating">6.885 IMDb</span>
                                <span class="duration">1h 53min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Looper" class="btn details-btn">More Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/p96dm7sCMn4VYAStA6siNz30G1r.jpg"
                                alt="The Matrix" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Matrix</h6>
                                <span class="rating">8.218 IMDb</span>
                                <span class="duration">2h 16min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/The%20Matrix" class="btn details-btn">More Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/nWtySDlffTfwAa0rSfq61o33ZXV.jpg" alt="Memento" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Memento</h6>
                                <span class="rating">8.181 IMDb</span>
                                <span class="duration">1h 53min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Memento" class="btn details-btn">More Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/kjWsMh72V6d8KRLV4EOoSJLT1H7.jpg"
                                alt="One Flew Over the Cuckoo's Nest" />
                            <div class="details-overlay">
                                <h6 class="movie-title">One Flew Over the Cuckoo's Nest</h6>
                                <span class="rating">8.417 IMDb</span>
                                <span class="duration">2h 13min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/One%20Flew%20Over%20the%20Cuckoo's%20Nest" class="btn details-btn">More
                                    Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/euypWkaYFOLW3e5rLIcTAjWnhhT.jpg"
                                alt="American History X" />
                            <div class="details-overlay">
                                <h6 class="movie-title">American History X</h6>
                                <span class="rating">8.344 IMDb</span>
                                <span class="duration">1h 59min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/American%20History%20X" class="btn details-btn">More Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/k7eYdWvhYQyRQoU2TB2A2Xu2TfD.jpg"
                                alt="City of God" />
                            <div class="details-overlay">
                                <h6 class="movie-title">City of God</h6>
                                <span class="rating">8.4 IMDb</span>
                                <span class="duration">2h 10min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/City%20of%20God" class="btn details-btn">More Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/rWbsxdwF9qQzpTPCLmDfVnVqTK1.jpg"
                                alt="The Usual Suspects" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Usual Suspects</h6>
                                <span class="rating">8.2 IMDb</span>
                                <span class="duration">1h 46min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/The%20Usual%20Suspects" class="btn details-btn">More Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/ljsZTbVsrQSqZgWeep2B1QiDKuh.jpg"
                                alt="Inception" />
                            <div class="details-overlay">
                                <h6 class="movie-title">Inception</h6>
                                <span class="rating">8.369 IMDb</span>
                                <span class="duration">2h 28min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/Inception" class="btn details-btn">More Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/evph7FByd63yCZ42e2YRmIy37uc.jpg" alt="The Game" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Game</h6>
                                <span class="rating">7.6 IMDb</span>
                                <span class="duration">2h 9min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/The%20Game" class="btn details-btn">More Details</a>
                            </div>
                        </li>

                        <li class="new-image-item">
                            <img src="https://image.tmdb.org/t/p/w500/qJ2tW6WMUDux911r6m7haRef0WH.jpg"
                                alt="The Dark Knight" />
                            <div class="details-overlay">
                                <h6 class="movie-title">The Dark Knight</h6>
                                <span class="rating">8.484 IMDb</span>
                                <span class="duration">2h 32min</span>
                                <i class="fa fa-heart wishlist-icon"></i>
                                <a href="/movie/The%20Dark%20Knight" class="btn details-btn">More Details</a>
                            </div>
                        </li>
                    </ul>
                    <button id="new-next-slide" class="new-slide-button material-symbols-rounded">chevron_right</button>
                </div>
            </div>

            <div class="suggestion"> <!-- Container for suggestions -->
                <span class="featured-label">Featured Films</span>
                <div class="image-container"> <!-- Flexbox container for images -->
                    <% if (movies.length > 0) { %>
                        <% movies.forEach(movie => { %>
                            <div class="image-item"> <!-- Each movie image item -->
                                <a href="/movies/details/<%= movie.id %>"> <!-- Pass movie ID here -->
                                    <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %> Poster">
                                    <div class="overlay">
                                        <span class="plus-sign">More details</span>
                                    </div>
                                </a>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p class="no-found">No related movies found for "<%= searchTerm %>".</p>
                    <% } %>
                </div>
            </div>            

            <!-- ========== slider Section End ========== -->
        </main>

        <%- include('partials/footer.ejs') %>


</body>

<script src="/js/scripts.js"></script> <!-- Use absolute path for the script -->
<script src="/js/upload.js"></script> <!-- Use absolute path for the script -->
<script src="/js/allSlider.js"></script> <!-- Use absolute path for the script -->

</html>